[Unit]
Description=Node.js Express App with MongoDB
After=network.target mongod.service

[Service]
User={{ app_user }}
WorkingDirectory={{ app_dir }}
Environment=MONGODB_URI={{ mongodb_conn_str }}
Environment=PORT=3000
ExecStart=/usr/bin/node {{ app_dir }}/index.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target